@page
@model PJSrenovation_Project_Manager.Pages.Painters.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Painter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Painter.PainterID" />
            <div class="form-group">
                <label asp-for="Painter.FirstName" class="control-label"></label>
                <input asp-for="Painter.FirstName" class="form-control" />
                <span asp-validation-for="Painter.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painter.LastName" class="control-label"></label>
                <input asp-for="Painter.LastName" class="form-control" />
                <span asp-validation-for="Painter.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painter.DrivingLicence" class="control-label"></label>
                <select asp-for="Painter.DrivingLicence" class="form-control"></select>
                <span asp-validation-for="Painter.DrivingLicence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painter.YearOfStart" class="control-label"></label>
                <input asp-for="Painter.YearOfStart" class="form-control" />
                <span asp-validation-for="Painter.YearOfStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Painter.CurrentLocation" class="control-label"></label>
                <input asp-for="Painter.CurrentLocation" class="form-control" />
                <span asp-validation-for="Painter.CurrentLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
